.optsupp p.metaboxoptions{
    border-top: 1px dashed #ccc;
    padding-top: 1%;
}

.optsupp p.metaboxoptions label{
    width:10%;
    display: inline-block;
}

.optsupp p.metaboxoptions input[type=text]{
    width: 30%;
}

.optsupp p:first-child{
    border-top: 0;
}